<!-- Generated template for the RequestIdClientComponent component -->
<div class="requestIdClient">
  <div class="requestIdClient-container">
      <div class="requestIdClient-container-item header">
        </div>
    <div class="requestIdClient-container-item input">
      <ion-list>
        <ion-item>
            <ion-label floating>Ingrese su numero de identificacion</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div class="requestIdClient-container-item">
      <div>
          <button ion-button (click)="pushPage()">Ingresar</button>
      </div>
    </div>
  </div>
</div>
